<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="framework.css">
  <style>
    .heroHeading {
      font-size: clamp(2.25rem, 1.8rem + 2.25vw, 4.5rem);
      font-weight: 600;
    }

    .heroPara {
      font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
    }
  </style>
</head>

<body>
  <section class="HSCenter">
    <div class="container">
      <div class="HeroCol2">
        <div class="HSCol2Left">
          <h1 class="heroHeading">Find and listen
            Your favorite artist
            podcast here!</h1>
          <p class="heroPara">The best podcast website communication a feel and make it easy for visitors to discover
            your podcast.</p>
          <a class="primaryBtn" href="#">Get Started</a>
        </div>
        <div class="HSCol2Right">
          <img src="https://placehold.co/600x600/png" alt="">
        </div>
      </div>
    </div>
  </section>

  <script></script>
</body>

</html>